<div class="row">
	<div class="col-xs-3">
		<h2>User info</h2>
		<%= render 'users/profile', user: @user %>
		<!--同コントローラーのviewで表示ならusersは省略可 -->

		<h2>New book</h2>
		<%= render 'books/newform', book: @book %>
	</div>

	<div class="col-xs-9">
		<h2>Books</h2>
		<!--books一覧 -->
		<table class="table table-hover table-inverse">
			<thead>
				<tr>
					<th></th>
					<th>Title</th>
					<th>Opinion</th>
					<th colspan="3"></th>
				</tr>
			</thead>

			<tbody>
				<% @books.each do |book| %>
				<tr>
					<td>
						<%= link_to (book.user) do %>
						<%= attachment_image_tag(book.user, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg") %>
						<% end %>
					</td>
					<td><%= link_to book.title,book, class: "book_#{book.id}" %></td>
					<td><%= book.body %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<!--books一覧 -->
	</div>
	<% if @user.id == current_user.id %>
	<div class="col-xs-12">
	<h2>Your Map</h2>
		<div id="map"></div>
		<script src="http://maps.google.com/maps/api/js?key=<%= ENV['API_KEY']%>&language=ja"></script>

		<style>
		#map{
		height: 400px;
		}
		</style>
		
		<script>
		var MyLatLng = new google.maps.LatLng(35.6811673, 139.7670516);
		var Options = {
		zoom: 15,      //地図の縮尺値
		center: MyLatLng,    //地図の中心座標
		mapTypeId: 'roadmap'   //地図の種類
		};
		var map = new google.maps.Map(document.getElementById('map'), Options);
		</script>
	</div>
	<% end %>
</div>